---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import stump1 from '../images/stump-1-min.png'
import stump2 from '../images/stump-2-min.png'
import stump3 from '../images/stump-3-min.png'
import stump4 from '../images/stump-4-min.png'
import stump5 from '../images/stump-5-min.png'
import stump6 from '../images/stump-6-min.png'
import stump7 from '../images/stump-7-min.png'
import stump8 from '../images/stump-8-min.png'
import stump9 from '../images/stump-9-min.png'
import stump10 from '../images/stump-10-min.png'
import stump11 from '../images/stump-11-min.png'
import stump12 from '../images/stump-12-min.png'
import stump13 from '../images/stump-13-min.png'
import stump14 from '../images/stump-14-min.png'
import stump15 from '../images/stump-15-min.png'
import stump16 from '../images/stump-16-min.png'
import stump18 from '../images/stump-18-min.png'
import stump20 from '../images/stump-before-min.png'
import stump21 from '../images/stump-after-min.png'
---

<MainLayout
  title="Astro"
  seoTitle="Tommy Stumps LLC | Gallery"
  seoDescription="Call the experts for stump removal of any size"
>
  <section class="mx-auto px-4 py-10">
    
   	<h1 class="text-4xl font-black uppercase text-center">Our Work</h1>
    <div class="grid grid-cols-1 place-items-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 py-10">
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump1} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump2} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump3} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump4} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump5} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump6} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump7} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump8} alt="gallery"  quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump9} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump10} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump11} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump12} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump13} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump14} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump15} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump16} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>     
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump18} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>    
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump20} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
      <div class="h-[90%] w-[90%] rounded-xl overflow-hidden">
        <Image src={stump21} alt="gallery" quality='mid' class="object-fill transition duration-300 hover:scale-[1.1]"/>
      </div>
    </div>
    
  </section>
</MainLayout>